body {
    background-color:#7dc2ad;
    margin: 73px 0px 0px 0px;
    font-family: 'Oswald', sans-serif;
    min-width: 960px;
}

#logo {
    position: relative;
    background: none;
    width: 250px;
    height: 60px;
    float: left;
    margin: 7px 0px 0px 20px;
}

#logo img {
    width: 25%;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

#logo h1 {
    margin: 9px 0px 0px 70px;
}

#logoimg {
    position: fixed;
    float: left;
    margin: 0px 0px 0px 10px;
    width: 55px;
}

#language {
    float: right;
    background: none;
    margin: 17px 15px 0px 0px;
    border: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 25px;
}

#language:focus {
    outline: none;
}

#language:hover {
    background: #e27d5f;
}

#toppanel {
    min-width: 800px;
}

#toppanel nav ul {
    margin: 0px;
    list-style-type: none;
}

#toppanel nav ul li {
    float: left;
    padding: 0px 25px;
    margin: 0px 5px;
    font-size: 17px;
    height: 73px;
    line-height: 4.3em;
}

#toppanel nav ul li:hover, .active {
    background: #e27d5f;
}

#toppanel nav a {
    color: black;
    text-decoration: none;
}

.center {
    text-align: center;
}

#welcome {
    margin: 0px auto;
    width: 960px;
}

#welcome section {
    position: relative;
    left: 50px;
}

#welcome header {
    position: relative;
    top: 50px;
    left: 50px;
}

#welcome h2 {
    text-align: center;
    font-size: 50px;
    margin: 0px 0px 20px 0px;
}

#welcome h1 {
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    top: 100px;
    bottom: 0px;
    left: 30px;
    margin: 0px 0px 0px 200px;
}

header {
    height: 73px;
    position: fixed;
    top: 0px;
    background: #85cdca;
    width: 100%;
}

article {
    padding: 30px 0px;
}

article header {
    width: 250px;
    float: left;
    position: static;
    background: none;
}

article section {
    width:  666px;
    float: left;
    border: none;
    padding: 20px;
}

footer {
    height: 40px;
    color: white;
    margin: 20px 0 0 30px;
}

footer a {
    color: #e27d5f;
    text-decoration: none;
}

.cleaner {
    clear: both;
}

#tools-list {
    position: relative;
    font-family: 'Oswald', sans-serif;
    float: left;
    top: 50px;
    margin: 0px;
    width: 960px;
}

#tools-list h2 {
    text-align: left;
    font-size: 50px;
    margin:10px 10px 20px 50px;
}

#tools-list ul{
    float: left;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    list-style-type: none;
}

#tools-list ul li {
    border: 3px solid white;
    width: 300px;
    text-align: center;
    font-size: 28px;
    line-height: 4.3em;
}

#tools-list a {
    color: black;
    text-decoration: none;
}

#tools-list ul li:hover, #tools-list .active {
    background: #c38d9d;
}